
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Message Definition</h2>

<div>
    <pre>
        @ViewBag.jsonen
    </pre>
    <pre>
        @ViewBag.jsonde
    </pre>
    <pre>
        @ViewBag.jsones
    </pre>
    <pre>
        @ViewBag.jsonfr
    </pre>
    <pre>
        @ViewBag.jsonit
    </pre>
    <pre>
        @ViewBag.jsonja
    </pre>
    <pre>
        @ViewBag.jsonpt
    </pre>
    <pre>
        @ViewBag.jsonru
    </pre>
    <pre>
        @ViewBag.jsonzh
    </pre>
</div>

